<div class="medium-9 large-9 right-part column" layout="column" layout-fill Layout-wrap>
	<div id="">
		<!-- ngStyle="{'display: none': !showGrid, 'display: block': showGrid"> -->
		<!-- [scrollAnimationOptions]="{ animationEffect: 'effect-3', minDuration : 0.4, maxDuration : 0.7, viewportFactor : 0.2 }" -->
		<ng-masonry-grid (onNgMasonryInit)="onNgMasonryInit($event)" [useAnimation]="false" [useImagesLoaded]="true"
			[masonryOptions]="{ horizontalOrder: true, initLayout: true, addStatus: 'append', transitionDuration: '0.2s', gutter: 0 }"
			mat-list class="boot-camp-grid row" id="boot-camp-grid">
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-1">
				<div class="boot-camp-purple-box">
					<p>This site was built using  <br>everything we could find <br>about military careers.</p>
					<p>
						<b>Then we realized, you don't <br>have to know everything, <br>you only need to know what <br>you
							don't know already.</b>
					</p>
				</div>
			</ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-2"> <a routerLink="/options-military">
					<div class="boot-camp-box">
						<img class="boot-camp-img-desktop" src="assets/images/military.jpg"> <img
							class="boot-camp-img-mobile" src="assets/images/military_mobile.jpg">
						<div class="boot-camp-inner-box">
							<span>The Military</span>
							<h4>An Employer with an Edge</h4>
						</div>
					</div>
				</a> </ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-3"> <a routerLink="/options-types-of-service">
					<div class="boot-camp-box">
						<img src="assets/images/types-of-service.jpg">
						<div class="boot-camp-inner-box">
							<span>Types of service</span>
							<h4>It's Not All or Nothing</h4>
						</div>
					</div>
				</a> </ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-4"> <a routerLink="/options-enlistment-requirements">
					<div class="boot-camp-box">
						<img src="assets/images/enlist-requirements.jpg">
						<div class="boot-camp-inner-box">
							<span>Enlistment Requirements</span>
							<h4>Know Before You Go</h4>
						</div>
					</div>
				</a>
			</ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-5"> <a routerLink="/options-becoming-an-officer">
					<div class="boot-camp-box">
						<img src="assets/images/becoming-officer.jpg">
						<div class="boot-camp-inner-box">
							<span>Becoming a Military Officer</span>
							<h4>Learning to Lead</h4>
						</div>
					</div>
				</a> </ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-6">
				<div class="boot-camp-gray-box">
					<a routerLink="/advanced-search/hotJobs"> <span>Search Hot Jobs</span> <img class="hot-jobs"
							src="assets/images/hot-jobs.png">
					</a>
				</div>
			</ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-7">
				<div class="boot-camp-gray-box">
					<a routerLink="/career-cluster"> <span>Career Clusters</span> <img class="career-clusters"
							src="assets/images/career-clusters.png">
					</a>
				</div>
			</ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-8"> <a routerLink="/options-enlistment-process">
					<div class="boot-camp-box">
						<img src="assets/images/enlist-process.jpg">
						<div class="boot-camp-inner-box">
							<span>Enlistment Process</span>
							<h4>Should I stay or should I go now?</h4>
						</div>
					</div>
				</a> </ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-9">
				<div class="boot-camp-box" id="masonry-item-video-modal1" (click)="openPlayer('DTeVrJfqNG0')">
					<img class="video-img video-modal1" src="assets/images/video1.jpg">
				</div>
			</ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-10">
				<div class="boot-camp-dark-gray-box" (click)="navTo('/options-benefits')">
					<h1>Tuition</h1>
					<h2>assistance</h2>
					<h3>GI Bill up to</h3>
					<h4><strong> 10 years </strong>after leaving service</h4>
					<h1><span class="dollar">$ $ $ $</span></h1>
				</div>
			</ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-11"> <a routerLink="/options-boot-camp-services">
					<div class="boot-camp-box">
						<img src="assets/images/boot-camp.jpg">
						<div class="boot-camp-inner-box">
							<span>Boot Camp by Service</span>
							<h4>Fit for duty?</h4>
						</div>
					</div>
				</a> </ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-12"> <a routerLink="/options-enlisted-vs-officer">
					<div class="boot-camp-box">
						<img src="assets/images/enlist-officer.jpg">
						<div class="boot-camp-inner-box">
							<span>Enlisted VS. Officer</span>
							<h4>What's the Difference</h4>
						</div>
					</div>
				</a> </ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-13">
				<div class="boot-camp-gray-box">
					<a routerLink="/guided-exploration"> <span>Guided Exploration</span> <img class="guided-exploration"
							src="assets/images/guided-exploration.png">
					</a>
				</div>
			</ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-14">
				<div class="boot-camp-box" (click)="openPlayer('BVi-rcL6Qhc')">
					<img class="video-img video-modal2" src="assets/images/video2.jpg">
				</div>
			</ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-15"> <a routerLink="/options-benefits">
					<div class="boot-camp-box">
						<img src="assets/images/benefits.jpg">
						<div class="boot-camp-inner-box">
							<span>Benefits</span>
							<h4>Work Life Balance</h4>
						</div>
					</div>
				</a> </ng-masonry-grid-item>
			<ng-masonry-grid-item class="small-12 medium-6 large-4 column"
				id="masonry-item-16">
				<div class="boot-camp-dark-gray-box small-box" (click)="navTo('/options-becoming-an-officer')">
					<p>Colleges and universities offering ROTC programs</p>
					<h1>
						1,700<span class="plus">+</span>
					</h1>
				</div>
			</ng-masonry-grid-item>
		</ng-masonry-grid>
	</div>
	<section class="small-12 contact-bar">
		<a routerLink="/options-contact-recruiter">Contact a Recruiter</a>
	</section>
</div>