@media screen and (min-width: 40em) {
  #compare-table table {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
    width: auto; } }

#compare-table table tbody {
  background: none;
  border: none;
  font-size: 13px; }

#compare-table table h3 {
  color: #178388;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 70%; }
  #compare-table table h3 i.icon-hotjob {
    font-size: 100%;
    margin-left: 6px;
    vertical-align: middle; }

#compare-table table h4 {
  background: #e8eaeb;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 7px;
  padding: 3px 10px;
  text-transform: uppercase; }

#compare-table table ul {
  margin-left: 5px;
  list-style-type: none; }
  #compare-table table ul.icodes li::after {
    float: right; }

#compare-table table .plain ul {
  list-style-type: disc;
  margin-left: 20px; }

#compare-table table .plain p {
  margin-left: 5px; }

#compare-table table td {
  padding-top: 10px;
  vertical-align: top;
  width: 25%; }
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    #compare-table table td {
      display: block;
      width: 100%; } }
  #compare-table table td:nth-of-type(even) {
    background: #f6f7f7; }
  #compare-table table td ul li {
    margin-bottom: 0; }
  #compare-table table td #education strong {
    display: inline-block;
    width: 60px; }
 
.fa-print {
	margin-left: 5px;
}

/* change these if you want */
.raterater-bg-layer {
  color: transparent; }

.raterater-hover-layer {
  color: rgba(255, 255, 0, 0.75); }

.raterater-hover-layer.rated {
  /* after the user selects a rating */
  color: yellow; }

.raterater-rating-layer {
  color: #000; }

.raterater-outline-layer {
  color: #000; }

.raterater-layer {
	min-width: 85px !important;
}

.ratebox {
  display: inline-block; }

.ratings {
  margin-bottom: 1rem; }

/* don't change these - you might break something.. */
.raterater-wrapper {
  overflow: visible; }

.raterater-layer,
.raterater-layer i {
	min-width: 85px !important;
  display: block;
  position: absolute;
  overflow: visible;
  top: 2px;
  left: 0px; }

.raterater-hover-layer {
  display: none; }

.raterater-hover-layer i,
.raterater-rating-layer i {
  width: 0px;
  overflow: hidden; }
  
      .starrr-label {
  display: inline-block;
  width: 80%;
  max-width: 150px; }
  
  
  
.search-bar strong,
.search-bar .actions {
  color: #911a07;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-transform: uppercase; }
  .search-bar strong i,
  .search-bar .actions i {
    font-size: 16px; }
  .search-bar strong a,
  .search-bar .actions a {
    color: inherit; }
    @media screen and (min-width: 40em) {
      .search-bar strong a,
      .search-bar .actions a {
        margin-right: 40px; }
        .search-bar strong a span,
        .search-bar .actions a span {
          display: inline; } }
    .search-bar strong a:last-child,
    .search-bar .actions a:last-child {
      margin-right: 0; }

.search-bar hr {
  margin: 5px 0 10px; }