<mat-card class="explore-group">
  <div class="table-info row">
    <div  *ngIf="ifFullOptions()" class="medium-6 columns">
      <strong *ngIf="occupationView">FAVORITE OCCUPATIONS</strong>
      <strong *ngIf="serviceView">FAVORITE SERVICES</strong>
      <strong *ngIf="careerClusterView">FAVORITE CAREER CLUSTERS</strong>
    </div>
    <div *ngIf="ifFullOptions()" class="medium-6 columns show-for-medium">
      <span class="caps">View Favorite:
        <span *ngIf="!occupationView"><a (click)="occupationToggle()">Occupations</a>
        </span>
        <span *ngIf="!careerClusterView"><a (click)="careerClusterToggle()">Career Clusters</a>
        </span>
        <span *ngIf="!serviceView"><a (click)="serviceToggle()">Services</a>
        </span>
      </span>
    </div>
    <div class="medium-12 columns">
      <hr>
    </div>
  </div>
  <div class="occupations row">

    <!-- Occupation View -->
    <div class="medium-12 columns" *ngIf="occupationView">
      <table class="hover">
        <tbody *ngIf="favoriteList && favoriteList.length !== 0">
            <tr *ngFor="let f of favoriteList; let i = index">
              <td *ngIf="ifFullOptions()" class="input"><input type="checkbox" [ngModel]="f.selected"
                  (click)="checkChanged($event, i)" [disabled]="checked==limit && !f.selected && !favoriteList[i].checked">
              </td>
              <td><a routerLink="/career-detail/{{f.mcId}}">{{f.title}}</a>
                <i *ngIf="ifFullOptions() && f.isHotJob == 'T'" class="icon-hotjob"
                  title="Positions related to this job are reported as critical fill."></i></td>
              <td *ngIf="ifFullOptions()" class="actions"><a (click)="onNotesClick(i)"><i class="fas fa-pencil-alt"></i></a>
                <a (click)="removeFavorite(i); " [ngClass]="disabled ? 'linkDisabled': ''">
                  <span *ngIf="ifFullOptions()" [ngStyle]="myStyle">X</span></a></td>
            </tr>
          </tbody>
          <tbody *ngIf="favoriteList && favoriteList.length === 0">
            <tr>
              <td>Your favorites list is empty.</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

	<!-- CEP Occupation View -->
  <div class="occupations row">
    <div class="medium-12 columns" *ngIf="cepOccupationsView">
      <table class="hover">
        <tbody *ngIf="cepFavoriteOccupationsList && cepFavoriteOccupationsList.length !== 0">
                <tr *ngFor="let f of cepFavoriteOccupationsList; let i = index;">
                <td>
                  <a href="{{f.link}}" target="_blank">{{f.title}}</a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="careerClusterFavoriteList && careerClusterFavoriteList.length === 0">
              <tr>
                <td>Your favorites list is empty.</td>
              </tr>
        </tbody>
      </table>
    </div>
    </div>
	
	<!-- Career Cluster View -->
  <div class="occupations row">
    <div class="medium-12 columns" *ngIf="careerClusterView">
      <table class="hover">
        <tbody *ngIf="careerClusterFavoriteList && careerClusterFavoriteList.length !== 0">
                <tr *ngFor="let f of careerClusterFavoriteList; let i = index;">
                <td>
                  <a routerLink="/career-cluster-pathway/{{f.ccId}}">{{f.title}}</a>
                </td>
                <td class="actions"><a (click)="removeCareerClusterFavorite(i); ">
                    <span *ngIf="ifFullOptions()" [ngStyle]="myStyle">X</span></a></td>
              </tr>
            </tbody>
            <tbody *ngIf="careerClusterFavoriteList && careerClusterFavoriteList.length === 0">
              <tr>
                <td>Your favorites list is empty.</td>
              </tr>
        </tbody>
      </table>
    </div>
    </div>

    <!-- Service View -->
    <div class="occupations row">
    <div class="medium-12 columns" *ngIf="serviceView">
      <table class="hover">
        <tbody *ngIf="serviceFavoriteList && serviceFavoriteList.length > 0">
              <tr *ngFor="let f of serviceFavoriteList; let i = index;">
                <td>
                  <span *ngIf="f.svcId == 'F'"><a target="_blank" href="https://www.airforce.com/" >Air Force</a></span>
                  <span *ngIf="f.svcId == 'C'"><a target="_blank" href="https://www.gocoastguard.com/" >Coast Guard</a></span>
                  <span *ngIf="f.svcId == 'M'"><a target="_blank" href="https://www.marines.com/" >Marine Corps</a></span>
                  <span *ngIf="f.svcId == 'A'"><a target="_blank" href="https://www.goarmy.com/">Army</a></span>
                  <span *ngIf="f.svcId == 'N'"><a target="_blank" href="https://www.navy.com/">Navy</a></span>
                </td>
                <td class="actions"><a (click)="removeService(i); ">
                    <span *ngIf="ifFullOptions()" [ngStyle]="myStyle">X</span></a></td>
              </tr>
            </tbody>
            <tbody *ngIf="serviceFavoriteList && serviceFavoriteList.length === 0">
              <tr>
                <td>Your favorites list is empty.</td>
              </tr>
        </tbody>
      </table>
    </div>
    </div>
  
  <div class="table-pagination row" *ngIf="occupationView">
    <div class="medium-12 columns">
      <hr>
      <div *ngIf="ifFullOptions()" class="row compare">
        <div class="medium-8 columns">
          <strong>
            Compare your favorite occupations side by side. <br />
            Select up to four occupations from your list and hit Compare.</strong>
        </div>
        <div class="medium-4 columns">
          <button class="button" (click)="compareSelection()">Compare</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-info row">
    <hr class="hide-for-medium">
    <div *ngIf="ifFullOptions()" class="medium-6 columns hide-for-medium">
      <span class="caps">View Favorite:
        <span *ngIf="!occupationView"><a (click)="occupationToggle()">Occupations</a>
        </span>
        <span *ngIf="!careerClusterView"><a (click)="careerClusterToggle()">Career Clusters</a>
        </span>
        <span *ngIf="!serviceView"><a (click)="serviceToggle()">Services</a>
        </span>
      </span>
    </div>
  </div>
</mat-card>