<mat-card class="row">
   <div class="small-12 medium-4 columns">
      <div *ngIf="showSpinner">
         <i class="fas fa-cog fa-spin"></i>
      </div>
      <h6>Related Careers:</h6>
      <strong>Military</strong><br>
      <p>
         <ng-container *ngIf="relatedCareer">
            <span *ngFor="let m of relatedCareer; let i1 = index">
               <ng-container *ngIf="showMore && i1 < 5 || !showMore">
                  <a (click)="onClick(m.relatedId)" [innerHtml]="m.title"></a><br>
               </ng-container>
            </span>
            <span [hidden]="relatedCareer.length <= 5">
               <a [hidden]="!showMore" (click)="showMore = !showMore">...Show More</a>
               <a [hidden]="showMore" (click)="showMore = !showMore">...Show Less</a>
            </span>
         </ng-container>
      </p>
      <strong>Civilian</strong><br>
      <p>
         <ng-container *ngIf="relatedCivilianCareer">
            <span *ngFor="let c of relatedCivilianCareer; let i2 = index">
               <ng-container *ngIf="showMore2 && i2 < 5 || !showMore2">
                  <a target="_blank" (click)="openNewTab(relatedCivilianCareer[i2].link)"
                     [innerHtml]="c.title"></a><br>
               </ng-container>
            </span>
            <span [hidden]="relatedCivilianCareer.length <= 5">
               <a [hidden]="!showMore2" (click)="showMore2 = !showMore2">...Show More</a>
               <a [hidden]="showMore2" (click)="showMore2 = !showMore2">...Show Less</a>
            </span>
         </ng-container>

      </p>
   </div>
   <div class="small-12 medium-4 columns">
      <h6>Recently Viewed:</h6>
      <p>
         <ng-container *ngIf="displayList && displayList.length > 0">
            <span *ngFor="let r of displayList; let i3 = index">
               <ng-container *ngIf="showMore3 && i3 < 5 || !showMore3">
                  <a (click)="onClick(r.mcId)" [innerHtml]="r.title"></a><br>
               </ng-container>
            </span>
            <span [hidden]="displayList.length <= 5">
               <a [hidden]="!showMore3" (click)="showMore3 = !showMore3">...Show More</a>
               <a [hidden]="showMore3" (click)="showMore3 = !showMore3">...Show Less</a>
            </span>
         </ng-container>
      </p>
   </div>
   <div *ngIf="profilePage" class="small-12 medium-4 columns">
      <h6>Related Hot jobs:</h6>
      <p>
         <ng-container *ngIf="hotJobList">
            <span *ngFor="let h of hotJobList; let i4 = index">
               <ng-container *ngIf="showMore4 && i4 < 5 || !showMore4">
                  <a (click)="onClick(h.mcId)" [innerHtml]="h.title ? h.title : ''"></a> <br>
               </ng-container>
            </span>
            <span [hidden]="hotJobList.length <= 5">
               <a [hidden]="!showMore4" (click)="showMore4 = !showMore4">...Show More</a>
               <a [hidden]="showMore4" (click)="showMore4 = !showMore4">...Show Less</a>
            </span>
         </ng-container>
      </p>
   </div>
   <div *ngIf="!profilePage" class="small-12 medium-4 columns">
      <h6>Additional Career Information:</h6>
      <p>
         <ng-container *ngIf="additionalAdded">
            <span *ngFor="let a of additionalInfo; let i5 = index">
               <ng-container *ngIf="showMore5 && i5 < 5 || !showMore5">
                  <a [routerLink]="a.link" [innerHtml]="a.title"></a><br>
               </ng-container>
            </span>
            <span [hidden]="additionalInfo.length <= 5">
               <a [hidden]="!showMore5" (click)="showMore5 = !showMore5">...Show More</a>
               <a [hidden]="showMore5" (click)="showMore5 = !showMore5">...Show Less</a>
            </span>
         </ng-container>
      </p>
   </div>

</mat-card>