<div class="table-contents border">
	<table>
		<tbody>
			<tr>
				<td><b>Age Group</b></td>
				<td><b>Gender</b></td>
				<td><b>Push-Ups</b></td>
				<td><b>Sit-Ups</b></td>
				<td><b>2-Mile Run</b></td>
			</tr>
			<tr>
				<td>17 - 21</td>
				<td>Male</td>
				<td>35</td>
				<td>47</td>
				<td>16:36</td>
			</tr>
			<tr>
				<td>17 - 21</td>
				<td>Female</td>
				<td>13</td>
				<td>47</td>
				<td>19:42</td>
			</tr>
			<tr>
				<td>22 - 26</td>
				<td>Male</td>
				<td>31</td>
				<td>43</td>
				<td>17:30</td>
			</tr>
			<tr>
				<td>22 - 26</td>
				<td>Female</td>
				<td>11</td>
				<td>43</td>
				<td>20:36</td>
			</tr>
		</tbody>
	</table>
</div>