<div class="table-contents border">
	<table>
		<tbody>
			<tr>
				<td><b>Age Group</b></td>
				<td><b>Gender</b></td>
				<td><b>Push-Ups (in 2 minutes)</b></td>
				<td><b>Curl-Ups (in 2 minutes)</b></td>
				<td><b>1.5-Mile Run</b></td>
			</tr>
			<tr>
				<td>17 - 19</td>
				<td>Male</td>
				<td>46</td>
				<td>54</td>
				<td>12:15</td>
			</tr>
			<tr>
				<td>17 - 19</td>
				<td>Female</td>
				<td>20</td>
				<td>54</td>
				<td>14:45</td>
			</tr>
			<tr>
				<td>20 - 24</td>
				<td>Male</td>
				<td>42</td>
				<td>50</td>
				<td>13:15</td>
			</tr>
			<tr>
				<td>20 - 24</td>
				<td>Female</td>
				<td>17</td>
				<td>50</td>
				<td>15:15</td>
			</tr>
		</tbody>
	</table>
</div>