<mat-dialog-content>
	<div class="custom-modal-content">
		<div class="custom-modal-body">
		  <div class="modal-header">
			<h3>Give this search results list a name and save it to your profile.</h3>
		  </div>

		  <div class="modal-body">
			<input type="text" placeholder="Ex. Healthcare Air Force" [(ngModel)]="title">
			<small>(max 50 characters)</small>
			<p *ngIf="error" style="color: red;">{{error}}</p>
		  </div>

		  <div class="modal-footer">
			<button class="button" type="button" (click)="onCancel()">Cancel</button>
			<button class="button" type="button" (click)="onSave()">Save</button>
		  </div>
		</div>
	</div>
</mat-dialog-content>