ul.menu {
     position: relative;
}
ul.menu:after {
     content: '';
     position: absolute;
     right: 0px;
     top: 0;
     bottom: 0;
     height: 100%;
     background: #7e7e7e;
     width: 1px;
}
ul.menu li {
     border-bottom: 1px solid #c8c8c8;
}
ul.menu li:first-child {
     border-top: 1px solid #c8c8c8;
}
ul.menu li a {
     padding: .5rem;
     text-decoration: none;
     outline: none;
}
ul.menu li a:hover, 
ul.menu li a.active {
     background: #ededed;
}
ul.left-bar {
     padding-right: 15px;
}
.sidebar-lhs .menu-dropdown {
	display: none;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	
     .sidebar-lhs .menu {
         display: none;
    }
     .sidebar-lhs .menu-dropdown {
         background-color: transparent;
         color: #474747;
         display: block;
         font-size: 13px;
         font-weight: bold;
         height: auto;
         margin-bottom: 1rem;
         width: 100%;
    }
}