<div class="small-12 medium-3 large-3 column sidebar-lhs">
  <ul mat-nav-list id="sticky" class="menu vertical">
    <!-- /options page is an href because the masonry grid duplicates tiles sometimes -->
    <li><a href="/options" [ngClass]="{active: path === '/options'}">Overview</a></li>
    <li><a routerLink="/options-military" [ngClass]="{active: path === '/options-military'}">The Military</a></li>
    <li><a routerLink="/options-types-of-service" [ngClass]="{active: path === '/options-types-of-service'}">Types of Service</a></li>
    <li><a routerLink="/options-boot-camp-services" [ngClass]="{active: path === '/options-boot-camp-services'}">Boot Camp by Service</a></li>
    <li><a routerLink="/options-enlisted-vs-officer" [ngClass]="{active: path === '/options-enlisted-vs-officer'}">Enlisted VS. Officer</a></li>
    <li><a routerLink="/options-enlistment-requirements" [ngClass]="{active: path === '/options-enlistment-requirements'}">Enlistment Requirements</a></li>
    <li><a routerLink="/options-enlistment-process" [ngClass]="{active: path === '/options-enlistment-process'}">Enlistment Process</a></li>
    <li><a routerLink="/options-becoming-an-officer" [ngClass]="{active: path === '/options-becoming-an-officer'}">Becoming a Military Officer</a></li>
    <li><a routerLink="/options-pay" [ngClass]="{active: path === '/options-pay'}">Pay</a></li>
    <li><a routerLink="/options-benefits" [ngClass]="{active: path === '/options-benefits'}">Benefits</a></li>
    <li><a routerLink="/options-reasons-to-consider" [ngClass]="{active: path === '/options-reasons-to-consider'}">Reasons To Consider The Military</a></li>
    <li><a routerLink="/options-contact-recruiter" [ngClass]="{active: path === '/options-contact-recruiter'}">Why Should I Contact A Recruiter</a></li>
  </ul>
  <mat-form-field  ngClass="menu-dropdown">
    <mat-select [(ngModel)]="selectedValue" (value)="getDisplayValue()" (selectionChange)="redirect()">
      <mat-option *ngFor="let option of menuOptions" [value]="option.value" class="dropdown-item" [class.selected]="isSelected(option.value)">
        {{option.displayValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
