<mat-dialog-content>
  <div class="modal-options">
    <div class="custom-modal-lg">
      <div class="custom-modal-content table-contents-wrap marine-modal">
        <div class="custom-modal-body">
          <div class="titles">
            <h4>Occupation Notes:</h4>

            <button type="button" class="close-button" aria-label="Close" (click)="onClose()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="contents row">
            <div class="medium-4 columns" >
              <ul style="list-style: none;">
                <li><a (click)="resetNotes()">{{initialNotes ? initialNotes.title : ''}}</a></li>
                <li *ngFor="let n of noteList">
                  <a *ngIf="initialNotes.mcId != n.mcId" (click)="resetNotes(n.noteId)">{{n.title}}</a>
                </li> 
              </ul>
            </div>
            <div class="medium-8 columns" id="right">
              <h3>{{data.note ? data.note.title : ''}}</h3>
              <textarea style="min-height: 200px;" [(ngModel)]="notes" [disabled]="isPerformingAction"></textarea> 
            </div>
          </div>

          <div class="modal-footer">
            <div class="close-button-div text-right">
	          <span *ngIf="error != '' && notes.length == 0" style="color: #cc0000; margin-right: 10px">{{error}}</span>
              <button *ngIf="noteId != null" class="button btn-delete-note" type="button" (click)="deleteNote()" [disabled]="isPerformingAction">
                <span class="fa fa-times"></span> Remove
                <span [ngStyle]="{'display': isPerformingAction ? 'block' : 'none'}" id="save-indicator" class="fas fa-circle-notch fa-spin fa-1x fa-fw"></span>
              </button>
              <button class="button" type="button" (click)="save()" [disabled]="isPerformingAction">
                Save
                <span [ngStyle]="{'display': isPerformingAction ? 'block' : 'none'}" id="save-indicator" class="fas fa-circle-notch fa-spin fa-1x fa-fw"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>