<update-title *ngIf="page && page.pageTitle" title="{{page.pageTitle}}"></update-title>
<update-meta *ngIf="page && page.pageDescription" name="description" content="{{page.pageDescription}}"></update-meta>
<app-spinner></app-spinner> 
<div id="main" class="section home">
	<div id="boot-camp">
		<div class="row column option-title">
			<h3>Learn About Your Options</h3>
		</div>
		<mat-card class="row all-data">
			<app-side-nav></app-side-nav>
			<div *ngIf="useDynamicContent && pageHtml">
				<app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="pageHtml">
				</app-dynamic-content-loader>
			</div>
			<div *ngIf="showContactServices">
				<div class="small-12 medium-9 large-9 right-part column full-black-text pay-section">
					<app-contact-services [serviceObjects]="serviceObjects"  [payData]="payData" [rankData]="rankData"></app-contact-services>
				</div>
			</div>
			<div *ngIf="!useDynamicContent">
				<app-overview></app-overview>
			</div>
		</mat-card>
	</div>
</div>