<mat-dialog-content>
  <div id="loginpop" class="custom-modal-content login_wrap" style="display: block;">
    <div class="custom-modal-body">
      <div class="row">
        <div class="medium-12 columns p-0">
          <h4 class="popup-title">All {{ data.type }} titles related to {{ data.title }}.
            <button type="button" class="close-button" (click)="onNoClick()">
              <span aria-hidden="true">&#215;</span>
            </button> 
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-4 columns find-a-career-height">
          <h4>
            <div class="pull-left">
              <div *ngIf="data.type == 'Army'"><img src="assets/images/army.png"> &nbsp;{{ data.type }}</div>
              <div *ngIf="data.type == 'Marine Corps'"><img src="assets/images/marines.png"> &nbsp;{{ data.type }}</div>
              <div *ngIf="data.type == 'Navy'"><img src="assets/images/navy.png"> &nbsp;{{ data.type }}</div>
              <div *ngIf="data.type == 'Air Force'"><img src="assets/images/air-force.png"> &nbsp;{{ data.type }}</div>
              <div *ngIf="data.type == 'Coast Guard'"><img src="assets/images/coast-guard.png"> &nbsp;{{ data.type }}</div>
              <div *ngIf="data.type == 'National Guard'"><img src="assets/images/natl-guard.png"> &nbsp;{{ data.type }}</div>
            </div>
          </h4>
        </div>

        <div class="small-12 medium-8 columns find-a-career-height">
          <div>
            <ul>
              <li *ngFor="let item of serviceOfferings">
                <a (click)="onClickLink(item.svc, item.mcId, item.mocId)">{{item.mocTitle}}</a>
                <i *ngIf="item.isHotJob" class="icon-hotjob"></i>
              </li>
            </ul>
          </div>
        </div>

        <div class="medium-12 columns find-a-career-height text-center">
          <hr>
          <div class="close-button-div">
            <button type="button" class="button" (click)="onNoClick()">close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>