<div id="main" class="section guided-exploration">
	<div id="step2">
		<div class="row column">
			<h3>Guided Exploration</h3>
			<p class="description show-for-medium">
				<strong>Answer these questions based on your preferences. We'll make recommendations
					just for you.</strong>
			</p>
		</div>

		<div class="row show-for-small-only">
			<div class="small-12 medium-9 medium-centered columns">
				<ol class="progress-bar progress-bar-mobile">
					<li data-step="1" 
						  class="is-active" 
						  (click)="changePage(1)" 
						  [ngClass]="{'is-complete': qId >= 1, 'is-active': qId === 1}">
						<span class="progress-line"></span>
					</li>
					<li data-step="2" 
						(click)="changePage(2)"
						[ngClass]="{'is-complete': qId >= 2, 'is-active': qId === 2}">
						<span class="progress-line"></span>
				  </li>
					<li data-step="3" 
					    (click)="changePage(3)"
  						[ngClass]="{'is-complete': qId >= 3, 'is-active': qId === 3}">
						<span class="progress-line"></span>
					</li>
					<li data-step="4" 
						  class="progress__last" 
						  (click)="changePage(4)"
  						[ngClass]="{'is-complete': qId === 4, 'is-active': qId === 4}">
						<span class="progress-line"></span>
					</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="small-12 medium-5 columns">

				<div *ngIf="qId === 1" class="question-group" id="question-1">
					<p class="question">Which of these activities interests you?</p>
					<p class="show-for-medium">(Select all that apply.)</p>
					<ul class="redcheck">

						<li *ngFor="let item of checkboxInterest; let i=index;">
							<input type="checkbox"
							       id="interest{{item.code}}" 
								   [(ngModel)]="filterItems[item.code]" 
								   (change)="resetPagination()">
							<label for="interest{{item.code}}">{{item.name}}</label><br></li>
					</ul>
				</div>

				<!-- This is what we do for small screens -->
				<div class="show-for-small-only">
					<div *ngIf="qId === 2 || qId === 3" class="question-group" id="question-2">
						<p class="question">Can you see yourself working in this environment?</p>
						<p>(Select all that apply.)</p>
						<ul class="redcheck">
							<div *ngIf="qId === 2" class="group-1">
								<li *ngFor="let item of checkboxWorkEnvironment | slice: 0 : 7">
									<input type="checkbox"
										id="work{{item.code}}" 
										[(ngModel)]="workEnvironmentItems[item.code]"
										(change)="resetPagination()"> 
									<label for="work{{item.code}}">{{item.name}}</label><br>
								</li>
							</div>
							<div *ngIf="qId === 3" class="group-2">
								<li *ngFor="let item of checkboxWorkEnvironment | slice: 7 : 14">
									<input type="checkbox"
										id="work{{item.code}}" 
										[(ngModel)]="workEnvironmentItems[item.code]"
										(change)="resetPagination()"> 
									<label for="work{{item.code}}">{{item.name}}</label><br>
								</li>
							</div>
					  </ul>
				  </div>
					<div *ngIf="qId === 4" class="question-group" id="question-3">
						<p class="question">Select your strengths.</p>
						<p>(Select all that apply.)</p>
						<ul class="redcheck">
							<li *ngFor="let item of skillItems">
								<input type="checkbox" 
									id="skill{{item.code}}"
									[(ngModel)]="skillCheckBox[item.code]" 
									(change)="resetPagination()"> 
								<label for="skill{{item.code}}">{{item.name}}</label><br>
							</li>
						</ul>
					</div>
				</div>

				<!-- This is what we do for all other screens -->
				<div class="show-for-medium">
					<div *ngIf="qId === 2" class="question-group" id="question-2">
						<p class="question">Can you see yourself working in this environment?</p>
						<p>(Select all that apply.)</p>
						<ul class="redcheck">
							<li *ngFor="let item of checkboxWorkEnvironment; let i=index;">
								<input type="checkbox"
									id="work{{item.code}}" 
									[(ngModel)]="workEnvironmentItems[item.code]"
									(change)="resetPagination()"> 
								<label for="work{{item.code}}">{{item.name}}</label><br>
							</li>
					  </ul>
				  </div>
					<div *ngIf="qId === 3" class="question-group" id="question-3">
						<p class="question">Select your strengths.</p>
						<p>(Select all that apply.)</p>
						<ul class="redcheck">
							<li *ngFor="let item of skillItems; let i=index;">
								<input type="checkbox" 
									id="skill{{item.code}}"
									[(ngModel)]="skillCheckBox[item.code]" 
									(change)="resetPagination()"> 
								<label for="skill{{item.code}}">{{item.name}}</label><br>
							</li>
						</ul>
					</div>
				</div>

				<div class="show-for-small-only">
  				<p *ngIf="qId > 3" id="filter-message-small" class="text-danger">This list is filtered based on your responses. You can go back and change your answers at any time.</p>
				</div>
				<div class="show-for-medium"><br><br></div>

				<div *ngIf="allJobList" id="navigation">
  				<div class="show-for-small-only">
  					<strong id="found" class="hide-for-medium">{{careersLength}} careers found</strong>
						<button *ngIf="qId <= 3" id="next-question" class="striped" (click)="qNextPage()">
							Next <i class="icon-right show-for-small-only"></i>
						</button>
						<button *ngIf="qId > 3" id="retake-questions" class="striped" (click)="clearAnswers()">
							Retake Quiz<i class="icon-right show-for-small-only"></i>
						</button>
					</div>
					<div class="show-for-medium">
  					<p *ngIf="qId >= 3" id="filter-message-medium" class="text-danger">This list is filtered based on your responses. You can go back and change your answers at any time.</p>
						<button *ngIf="qId < 3" id="next-question" class="striped" (click)="qNextPage()">
							Next
						</button>
						<button *ngIf="qId === 3" id="retake-questions" class="striped" (click)="clearAnswers()">
							Retake Quiz
						</button>
					</div>
				</div>
			</div>
			<div *ngIf="allJobList" class="small-12 medium-7 columns">
				<div class="row show-for-medium">
					<div id="found-text" class="small-4 columns">
						<strong>{{careersLength}} careers found:</strong>
					</div>
					<div id="tools" class="small-8 columns">
					<div *ngIf="isLoggedIn()" class="show-for-medium"> 
						<span id="favoritesCount"><span class="inner-fav"> {{ favoritesCount }}</span><a routerLink="/profile"><i><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i></a> </span>
					</div>
						<div id="sort" class="show-for-medium">
							<i class="icon-details" [ngClass]="{'active': detailView}" (click)="setDetailView();"></i> <i
								class="icon-grid" [ngClass]="{'active': gridView}" (click)="setGridView();"></i>
						</div>
						<div id="pagination" class="afternone">
							<span>{{careersLength != 0 ? (((pageIndex)*pageSize)+1) : 0}} - {{((pageIndex + 1)*pageSize)
								<= careersLength ? ((pageIndex + 1)*pageSize) : careersLength}} of {{careersLength}}</span>
								<i class="icon-left" [ngClass]="(((pageIndex)*pageSize)+1) === 1 ? 'disabled' : ''"  (click)="previousPage();"></i> 
								<i class="icon-right" [ngClass]="(((pageIndex + 1)*pageSize)	<= careersLength ? ((pageIndex + 1)*pageSize) : careersLength) === careersLength ? 'disabled' : ''"  (click)="nextPage()"></i>
						</div>
						<mat-paginator style="visibility: hidden; height: 0px;" #paginator [length]="careersLength"
							[pageSize]="pageSize" (page)="pageEvent = getPaginatorData($event)" [hidePageSize]="true"></mat-paginator>
					</div>
				</div>
				<div id="found-careers">

					<div id="career-list" class="show-for-medium" *ngIf="detailView">
						<div class="career" style="height: 251px;"
							*ngFor="let f of filterGuidedExplorationList(allJobList) | slice: lowValue : highValue">
							<div class="medium-8 columns" [style.background-image]="safeURL(f.mcId)">
								<span class="actions" [ngStyle]="myStyle">
									
							  <a (click)="onFavoriteClick(f)">
								<i *ngIf="!f.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

								<i *ngIf="f.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
							</a>
									
								</span>
							</div>
							<div class="medium-4 columns">
								<div (click)="goToDetailsPage(f.mcId);">
									<p>{{f.title}}</p>
								</div>
								<ul class="checked">
									<li class="ul" [ngClass]="{'checked':f.isEnlisted == 'T'}">Enlisted</li>
									<li class="ul" [ngClass]="{'checked':f.isOfficer == 'T'}">Officer</li>
									<li class="ul" [ngClass]="{'checked':f.isEntryLevel == 'T'}">Entry Level</li>
									<li class="ul" [ngClass]="{'checked':f.isReserve == 'T'}">Reserve</li>
								</ul>
								<div class="services">
									<h4>Services</h4>
									<img *ngIf="f.isArmy == 'T'" src="assets/images/army.png"> <img
										*ngIf="f.isAirForce == 'T'" src="assets/images/air-force.png"> <img
										*ngIf="f.isCoastGuard == 'T'" src="assets/images/coast-guard.png"> <img
										*ngIf="f.isMarines == 'T'" src="assets/images/marines.png"> <img
										*ngIf="f.isNavy == 'T'" src="assets/images/navy.png">
								</div>
							</div>
						</div>
					</div>

					<div id="career-grid" *ngIf="gridView">
						<div class="show-for-medium career" *ngFor="let f of filterGuidedExplorationList(allJobList) | slice: lowValue : highValue"
							   [style.background-image]="safeURL(f.mcId)">
							<div (click)="goToDetailsPage(f.mcId);">
								<p class="background-gradient">
									{{f.title}}
								</p>
							</div>
								<span class="actions" [ngStyle]="myStyle">
									<a (click)="onFavoriteClick(f)">
										<i *ngIf="!f.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

										<i *ngIf="f.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>

									</a>
								</span>
						</div>
						<div class="hide-for-medium career" *ngFor="let f of filterGuidedExplorationList(allJobList)"
							   [style.background-image]="safeURL(f.mcId)">
							<div (click)="goToDetailsPage(f.mcId);">
								<p class="background-gradient">
									{{f.title}}
								</p>
							</div>
								<span class="actions" [ngStyle]="myStyle">
									<a (click)="onFavoriteClick(f)">
										<i *ngIf="!f.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

										<i *ngIf="f.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>

									</a>
								</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row show-for-medium">
			<div class="small-12 medium-9 medium-centered columns">
				<ol class="progress-bar">
					<li data-step="1" 
						class="is-active first" 
						[ngClass]="{'is-complete': qId > 1, 'is-active': qId === 1}"
						(click)="changePage(1)">
						<img alt="Step 1" src="assets/images/question-1.png">
					</li>
					<li data-step="2" 
						[ngClass]="{'is-complete': qId > 2, 'is-active': qId === 2}"
						(click)="changePage(2)">
						<img alt="Step 2" src="assets/images/step1.png">
					</li>
					<li data-step="3" 
					  [ngClass]="{'is-active': qId === 3}"
					  (click)="changePage(3)">
					  <img alt="Step 3" src="assets/images/step2.png">
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
