::ng-deep .mat-dialog-container {
    position: relative;
}
.login_wrap {
    padding-bottom: 70px;

    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
		padding-top: 30px;
    }

	.form-head {
		position: relative;
		margin-bottom: 60px;
		
		h4 {
			background-color: #e6e8e8;
			color: #3d4243;
			font-size: 1rem;
			margin-bottom: 0;
			padding: 5px 10px;

			@media screen and (min-width: 0em) and (max-width: 39.9375em) {
				margin-bottom: 30px;
			}
		}
		.close-button {
			font-size: 2em;
			line-height: 1em;
			padding: 0;
			right: 0.75rem;
			top: 0.75rem;

			&:focus {
				outline: none;
			}
		}
	}

	h3, h2 {
		color: #29afb5;
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: normal;
	}
	p {
		color: #3f3f3f;
		font-family: "futura-bt","Futura",sans-serif;
		font-size: 13px;
		line-height: 1.5;
	}
	.button {
		background-color: #29afb5;
		font-weight: 700;
		padding: 8px 20px;
		text-transform: uppercase;
	}
	.custom-modal-body {
		padding: 1rem 1rem 50px;
	}
	.right {
		border-left: 1px solid #ccc;
		padding-left: 50px;

		@media screen and (min-width: 0em) and (max-width: 39.9375em) {
		    padding-left: 15px;
		}
	}
	.f-email-feild {
		width: 150px;
	}
	.forgotpassbtn {
		color: #29afb5;
	    cursor: pointer;
	    font-size: 13px;
	    font-weight: normal;
	    padding: 0;
	}
}