<mat-dialog-content>
	<div class="modal-options custom-modal-content">
		<div class="custom-modal-lg forgot_wrapp login_wrap custom-modal-body">
			<div class="row">
				<h4>FORGOT YOUR PASSWORD</h4>
				<button type="button" class="close-button" (click)="onNoClick()">
					<span aria-hidden="true">&#215;</span>
				</button>
			</div>
			<div class="row">
				<form role="form">
					<div class="form-group">
						<font color="red" class="ng-binding"> {{ errorMessage }}</font>
						<input type="email" name="email" [(ngModel)]="email" placeholder="Email" class="form-control f-email-feild">
					</div>
					<button type="button" class="button" [disabled]="checkValid()"  (click)="requestResetPassword()">Request Password Reset</button>
				</form>
			</div>
		</div>
	</div>
</mat-dialog-content> 