.career-cluster {
	.mat-expansion-panel-group {
		margin-bottom: 50px;
	}
	.career-cluster-logo {
		display: block;
		margin: 0 auto 20px;
	}
}
.explore-link {
	display: inline-block;
	margin-top: 5px;
}