<div class="section career-cluster" id="main">
    <div id="boot-camp">
        <div class="row column">
            <h3>CAREER CLUSTERS</h3>
        </div>
        <div class="row all-data">
            <div class="medium-12 column full-black-text">
                <div class="row">
                    <div class="small-12 medium-12 large-12 column smallp">
                        <p>{{ description }}</p>
                        <p>The 16 career clusters are:</p>
                        <mat-accordion *ngIf="careerCluster" id="job-family" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion">
                            <mat-expansion-panel *ngFor="let cc of careerCluster | orderBy: 'title'" >
                                <mat-expansion-panel-header class="transform_auto">{{ cc.title }}</mat-expansion-panel-header>
                                <div class="ac-text-wrap">
                                    <span> {{ cc.description }} </span><br />
                                    <a class="explore-link" routerLink="/career-cluster-pathway/{{cc.id}}"><b>Explore Careers</b></a>
                                </div>                                    
                            </mat-expansion-panel>
                        </mat-accordion>
                        <p>Note: The 16 National Career Clusters Framework, and the definitions provided here, are sponsored by Advance CTE: State Leaders Connecting Learning to Work. The above excerpts are being used with permission of the States' Career Clusters Initiative, 2009 (<a target="_blank" href="http://www.careertech.org/career-clusters/">www.careertech.org/career-clusters</a>). Your school/state may use a different set of career clusters. Contact your career counselor to find out more information.</p>
                        <a target="_blank" href="http://www.careertech.org/career-clusters/"><img class="career-cluster-logo" src="assets/images/career-cluster-logo.jpg"></a>
                        <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        