.modal-header h3 {
	    background-color: #e6e8e8;
    color: #3d4243;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    padding: 5px 25px 5px 10px;
    margin: 0px;
    font-weight: normal;
}
.modal-body h3.branch {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
input {
	margin: 0;
}
.modal-options {
	max-width: 600px;
}
.see-my-scores-fav-prompt {
    background-color: #E6E5ED;
    color: #2f2a6a;
    font-weight: bold;
    font-size: 12px;
	
	ul {
		margin: 12px 0;
		padding: 0;
		padding-left: 25px;
		list-style: none;
		list-style-position: inside;
		direction: rtl;
	}
	
	li {
		list-style-type: none;
		padding-right: 80px;
		line-height: 10px !important;
		padding-bottom: 0px;
		padding-top: 10px;
		
		&:after {
			content: "";
			border-color: #2f2a6a transparent;
			border-style: solid;
			border-width: 0 8px 10px 8px;
			display: block;
			height: 0;
			width: 0;
			right: -30px;
			top: -10px;
			position: relative;
		}
	}
}
.close-button {
	padding: 9px 10px;
}
.close-button-div {
	text-align: center;
}
.composite-scores {
	.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
		padding: 5px;
	}
	h2 {
		color: #2f2a6a;
	    font-size: 1.25rem;
	    margin-bottom: 1em;
	    font-weight: 700;
	    font-family: "Open Sans",sans-serif;
	}
	h4 {
		color: #000;
		font-size: 13px;
		text-transform: uppercase;
		font-family: "Open Sans",sans-serif;
	}
	table.abbreviations {
		border: 1px solid #ababab;
		border-collapse: separate;
		border-spacing: 2px;

		> tbody, > thead {
			border: none;
			background-color: transparent;
			font-size: 12px;
		}
		tbody tr:nth-child(even) {
			background-color: transparent
		}
		tbody > tr > td {
			vertical-align: middle;
			padding-top: 1px;
			padding-bottom: 1px;
			line-height: 1;
		}
		.abbr-links,tbody > tr > td.abbr-links {
			line-height: 2;
		}
		#AR, #MK {
			color: #fff;
			background-color: #911a07;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
		#EL,#GS,#MC {
			color: #fff;
			background-color: #2f2a6a;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
		#AO,#AS {
			color: #fff;
			background-color: #333;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
		#PC,#VE, #WK {
			color: #fff;
			background-color: #147175;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
	}
	.table>tbody>tr>td {
		border-top: none
	}
	table.branches-table {
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 0
	}
	table {
		margin-bottom: 5px
	}
	.AR,.MK {
		color: #911a07
	}

	.EL,.GS,.MC {
		color: #2f2a6a
	}

	#composite-scores .PC,.VE,.WK {
		color: #147175
	}
	.AO {
		color: #333
	}

}
::ng-deep .mat-dialog-container {
    position: relative;
}
.p {
    font-family: "Open Sans", sans-serif;
	padding: 15px;

    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
		padding-top: 30px;
    }

	.modal-title {
		background: #ebecec;
		color: #3d4243;
	    font-family: "Open Sans", sans-serif;
		font-size: 16px;
		padding: 3px 12px;
		text-transform: none;
	}
	.close-button {
		color: #2f2a6a;
		font-weight: normal;
		opacity: 1;
		margin-top: 4px;
		margin-right: 6px;
	    padding: 3px;
		
		&:focus {
			outline: none;
		}
	}
	h3, h2 {
		color: #29afb5;
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: normal;
	}
	p {
		color: #3f3f3f;
		font-size: 13px;
		line-height: 1.5;
	}
	.button {
		background-color: #29afb5;
		font-weight: 700;
		padding: 8px 20px;
		text-transform: uppercase;
	}
	.custom-modal-body {
		padding: 1rem 1rem 50px;
	}
	.right {
		border-left: 1px solid #ccc;
		padding-left: 50px;

		@media screen and (min-width: 0em) and (max-width: 39.9375em) {
		    padding-left: 15px;
		}
	}
	.f-email-feild {
		width: 150px;
	}
	.forgotpassbtn {
		color: #29afb5;
	    cursor: pointer;
	    font-size: 13px;
	    font-weight: normal;
	    padding: 0;
	}
}