/* Common Variable Code */
$body-font-family: "Open Sans", sans-serif;
$white: #fff;
$light-gray: #f5f5f5;
$burgundy: #911a07;

.career-list-section {
	margin-top: 60px;
}
.career-detail {
	font-size: 13px;
	overflow: hidden;
	position: relative;

	h2, h4 {
		font-weight: bold;
		font-family: $body-font-family;
	}
	h2, h2 a {
		font-size: 1.25rem;	
		margin-bottom: 1em;	
		text-transform: none;
		color: #2f2a6a;
	}
	h4 {
		color: #000;
		font-size: 16px;
		margin: 15px 0 6px;
		text-transform: uppercase;
	}
}
.profiles-slider {
    margin-top: 20px !important;
}
.share + hr {
	margin: 1.25rem auto;
}
.specialties-grid {
	display: inline-block;
	margin-bottom: -2%;
	margin-top: 5px;
	width: 100%;

	.specialties {
		cursor: pointer;
		float: left;
		height: 216px;
		margin-bottom: 2%;
		margin-right: 2%;
		position: relative;
		width: 32%;
		background-size: cover;
		
		@media screen and (max-width: 63.9375em) and (min-width: 40em) {
			width: 49%;
		}
		
		@media screen and (max-width: 39.99em) {
			width: 100%;
		}
		
		&:before {
			display: inline-block;
			background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.89) 110%);
			background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.89) 110%);
			background: -o-linear-gradient(bottom, rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.89) 110%);
			background: -ms-linear-gradient(bottom, rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.89) 110%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.89) 110%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}	
		
		&:nth-child(3n) {
			margin-right: 0;
			
		}
		p {
			bottom: 0;
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			line-height: 1.1em;
			margin-bottom: 0;
			padding: 10px 46px 10px 10px;
			position: absolute;
			width: 100%;
			box-sizing: border-box;
		}
		a {
			bottom: 0;
			font-size: 25px;
			padding: 10px;
			position: absolute;
			right: 0;
			
			i {
				color: #fff;			
			}
		}
	}
}
.border {
	padding: 20px;
	border: 7px solid #d7d7d7;
	margin-bottom: 20px;
}
.snap-shot-slides-main {
	position: relative;
	
	.snap-small {
		background-color: #e7e7e7;
		color: #2f2a6a;
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 1px;
		margin-right: 1px;
		margin-top: 1px;
		padding-left: 15px;
		position: absolute;
		text-transform: uppercase;
		top: 7px;
		width: 100%;
		z-index: 9;
		
		> b {
			color: #000;
			display: inline-block;
			text-transform: none;
			width: 100%;
		}		
  	}
}
.snap-shot-slides{
	border: 7px solid #d7d7d7;
	
	.snap-shot-inner {
		display: inline-block;
		padding: 55px 60px 30px;
		
		h4 {
			color: #93210f;
			font-size: 20px;
			font-weight: bold;
			line-height: normal;
			margin-bottom: 10px;
		}			
	}
	
	.slick-prev {
		background-color: transparent;
		left: 0;		
	}

	.slick-next {
		background-color: transparent;
		right: 0;
	}		
}
.border.border-slides {
	padding: 0;
	
	.snap-small {
		padding: 10px 10px 10px 41px;
		background-color:#F1F1F1;
		top: 0;
	}		
	.snap-shot-slides {
		border: medium none;
		
		.snap-shot-inner {
			padding: 108px 41px 0 41px;
		}
	}
	.buttons {
		margin-top: 40px;
		padding-left: 41px;
		
		@media screen and (min-width: 0em) and (max-width: 39.9375em) {
			margin-top: 0;
		}
		
		.button {
			background-color: #d9eeef;
			color: #23959a;
			font-size: 13px;
			padding: 9px 16px;
			text-transform: none;
		}	
	}	
}

@media (min-width: 768px) {
	.custom-modal-dialog {
		margin: 30px auto;
		width: 600px;
	}
	.custom-modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
				box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	}
}
@media (min-width: 992px) {
	.custom-modal-lg {
		width: 900px;
	}
}

@media (min-width: 640px) {
	.pr-0 {
		padding-right: 0;
	}
	.pl-0 {	
		padding-left: 0; 
	}
	.mat-accordion.mat-accordion .find-a-career {
		.find-a-career-height {
			height: 260px;
		}
	}
}
.search-bar {
	hr {
		margin: 5px 0 10px		
	}
}
.actions {
	.fa-heart {
	    height: 1.5em;
    	width: 1.5em;
		
		@media screen and (max-width: 39.9375em) and (min-width: 0em) {
			width: 1.1em;
			vertical-align: sub;
		}
	}
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
     #sticky-sticky-wrapper {
         display: none;
    }
	.new-modal .right {
		border-left: medium none;
		padding-left: 0.9375rem;
		padding-top: 50px;
	}
	.search-bar {
		background-color: #efefef;
		margin: 0;
		padding-bottom: 10px;
		padding-top: 10px;
		
		a {
			color: #911a07;
			
			i {
				position: relative;
				top: 2px;
			}
		}
		strong, .actions {
			color: #911a07;
			font-family: $body-font-family;
			font-size: 13px;
			text-transform: uppercase;
			position: relative;
			top: 3px;
			
			i, i {
				font-size: 16px;
			}
			
			.favorite {
				position: relative;
				top: -2px;
			}
		}		
	}
	.full-img {
		width: 100%;
		
		> img {
			width: 100%;
		}
		&.show-for-small-only {
			padding: 0 20px 20px;
		}
	}
	.border .buttons {
		text-align: center;
	}
	.show-for-small-only .share {
		margin: 20px 0;
		text-align: center;
		
		i {
			font-size: 35px;
			margin-left: 30px;
		}
		a:first-of-type i {
			margin-left: 0;
		}
	}
	.mat-accordion.mat-accordion {
		.mat-expansion-panel-header .mat-expansion-indicator {
			position: static;
		}	
		.find-a-career {
			.find-a-career-height {
				margin-bottom: 20px;
			}
		}
	}
	.border.border-slides {
		.snap-shot-slides {
			.snap-shot-inner {
				padding: 108px 30px 10px;
			}
			.slick-prev {
				left: -11px;
				top: 45%;
			}
			.slick-next {
				right: -11px;
				top: 45%;
			}						
		}
		.snap-small {
			padding: 10px 20px;
		}		
	}	
}

 .occufind-explain {
  background: url(../../assets/images/icons.png) -110px -90px;
  display: inline-block;
  float: right;
  height: 16px;
  vertical-align: middle;
  width: 14px; }
.occufind-explain.alt {
  background-position: -110px -127px; }
  
  .occufind-sub-explain {
  background: url(../../assets/images/icons.png) -110px -90px;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 14px; }
.occufind-sub-explain.alt {
  background-position: -110px -127px; }


@media screen and (max-width: 639px) {
	.border.border-slides {
		.buttons {
			padding-left: 0;

			.buttons {
				margin-right: 0;
			}
		}
	}
}