$body-font-family: "Open Sans", sans-serif;
$white: #fff;
$light-gray: #f5f5f5;
$burgundy: #911a07;
$primary-color: #178388;
$secondary-color: #777777;
$navy: #2f2a6a;

.portfolio {
	font-size: 13px;
	
	.mat-card {
		background: transparent;
		
		.table-info {
			font-family: "Open Sans", sans-serif;		
		}
	}
	#name-grade {
		background: $light-gray;
		border: 1px solid #b3b3b3;
		margin-bottom: 10px;
		padding: 3px 20px;
		
		input {
			margin-bottom: 0;
		}
	}
	.search-bar {
		a,.actions a {
			margin-right: 20px;

		}
		hr {
			margin: 5px 0 10px;
		}
		strong {
			color: #911a07;
			text-transform: uppercase;
			font-family: $body-font-family;
			font-size: 13px;
		}
		.actions{

			i {
			  	font-size: 15px;
			  	color: #911a07;
			  	position: relative;
			  	top: -8px; 
			}

			a {
				color: $burgundy;
				margin-right: 0;

			    &:last-child {
			    	margin-right: 0;
			    }
			}
		}
	}
	.alert {
		background: #c1877d;
		border: 0;
		border-radius: 0;
		color: #fff;
		padding: 30px;	
		position: relative;

		.close {
			color: #fff;
			filter: alpha(opacity=100);
			font-size: 30px;
			font-weight: normal;
			opacity: 1;
			position: absolute;
			right: 15px;
			text-shadow: 0 0 0;
			top: 7px;
			padding: 0; 
		}
	}
	.well {
		background-color: #efefef;
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		overflow: hidden;
		padding: 20px 25px;

		img {
			float: left;
			margin-right: 20px;
			margin-bottom: 10px;
		}
	}
	
	[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	    font-size: 100%;
	    height: auto;
	    padding: 1px;
	}
	.button {
		font-size: 13px;
		padding: 4px 10px;
	}
	#fitness {
		label {
			display: inline-block;
			width: 150px;
		}
		select {
			margin-bottom: 2px;
	    max-width: 100%;
		}
	}
	.portfolio-group {
		.actions {			
			a {
				.fa-pencil-alt {
					font-size: 14px;					
				}
			}
		}
	}
	.portfolio-group,
	.explore-group {
		border: 1px solid #b3b3b3;
		border-radius: 0;
		margin-bottom: 20px;
		
		&#interests {
			.buttons {
				text-align: center;
				
				a {
					margin: .75rem 0;
				}
			}
		}
		
		.actions {
			font-size: 22px;
			text-align: right;
			
			button {
			    font-size: 22px;
				padding: 0;
				
				&:first-child a {
					padding-right: 3px;
				}
			}

			a {
				color: $burgundy;
				padding: 0 3px;
				text-transform: uppercase;
			    vertical-align: top;
				
				&:last-child {
					padding-right: 0;
				}
			}
		}
		.row.column {
		    margin-left: 0;
    		margin-right: 0; 
		}	
		.heading {
		    background: $light-gray;
    		padding: 5px;
			text-transform: uppercase;
			display: inline-block;
			width: 100%;
		}
		input {
			margin: 0;
		}
		input[type="checkbox"] {
			margin-right: 6px;
		}
		.entry {
			border-bottom: 1px solid #b3b3b3;
		}
		.entry,
		.add form {
		    padding: 5px 26px;
		}
		.add {
			.add.button {
				display: block;
				margin: .75rem auto;	
			}
			form {
				padding-top: 20px;
				
				input {
					display: inline;
					margin: 0 0 15px;
						
					&[type="text"] {
						max-width: 300px;
					}
					&.small {
						max-width: 75px; 
					}
				}
				.buttons {
					text-align: center;
					
					button {
						width: 100px;
						
						&:last-child {
							margin-right: 0;
						}

					}
				}
				&.inline-labels {
					label {
						display: inline;
					    margin-right: 10px;
					}
				}
			}
		}
	}
	.afqt {
		tbody > tr > td {
			border-top: 1px solid #ddd;
			line-height: 1.42857;
			padding: 8px;
			vertical-align: top;
		}
		tbody > tr:nth-of-type(2n+1) {
			background-color: #f9f9f9;
		} 
	}
	.explore-group {
		padding: 30px;

		hr {
		  margin: 10px 0;
		}
		table {
			margin: 0;

			.input {
				width: 20px;
				padding-right: 0;
			}
			.actions {
				font-size: inherit;
				width: 70px;

				i {
					font-size: 100%;
				}
			}
		}
		[type="checkbox"] + label {
			display: inline;
			margin-right: 0;
		}
		.compare {
			margin: 0;
			background: #e9f7f7;
			padding: 10px 0;

			button {
				float: right;
				margin-bottom: 0;
				margin-right: 0;
				margin-top: 7px;
				width: 140px;
			}
		}
		&.table {
			padding: 0;
			position: relative;

			.background {
				background: #f5f5f5;
			}
			.info,
			.description {
				padding: 22px;
				padding-bottom: 0;
			}
		  	.info-container {
		  		background: #fff;

		  		#tools {
					margin-bottom: 20px;
					text-align: left;

		  			> div {
		  				line-height: normal;
		  				padding: 0;

			  			&:after {
			  				content: initial;
		  				}
		  			}
		  			.actions {
						font-size: 26px;
						float: right;
						position: static;
						width: 100px;
						
						.remove {
							margin-left: 2px;
						}
		  			}
		  		}
			  	.image {
			  		background: #444;
			  		background-size: cover;
			  		min-height: 216px;
			  		padding: 0;
			  	}
			  	.guided-heading {
			  		color: $secondary-color;

					span {
						color: $navy;
						margin-right: 10px;	
					}
			  	}
			  	.pagination {
			  		margin-top: 20px;

			  		li {
						background: #7c7c7c;
						display: inline-block;
						height: 2px;
						margin-right: 3px;
						overflow: hidden;
						text-indent: -999px;
						width: 46px;

			  			&.active {
			  				background: $primary-color;
			  			}
			  		}
			  	}
			  	.next {
			  	    float: right;
				    margin-top: 15px;
				    margin-right: 0;
				    text-transform: uppercase;
			  	}
		  	}
		}
	}	
	.favorites {
		display: -webkit-box;     
		display: -moz-box;         
		display: -ms-flexbox;      
		display: -webkit-flex;     
		display: flex;

		.contact_list span {
			display: inline-block;
			width: 100%;
		}

		> .columns {
			display: -webkit-box;     
			display: -moz-box;         
			display: -ms-flexbox;      
			display: -webkit-flex;     
			display: flex;
			
			.explore-group,
			.portfolio-group {
				-webkit-box-flex: 1;     
				-moz-box-flex: 1;        
				-webkit-flex: 1;         
				-ms-flex: 1;             
				flex: 1;      
				
				.entry {
					border-bottom: 0;
					
					p {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 640px) {
	.portfolio {
		.four-column {
			-webkit-flex-flow: wrap row;
			flex-flow: wrap row;
			
			.columns {
			    width: 50%;
			}
		}
	}
}

@media screen and (max-width: 639px) {
	#main.section-portfolio {
		margin-top: 0;
	}
	.portfolio {
		.explore-group.table .info-container {
			.pagination {
				display: inline-block;
			}
			.next {
				display: block;
				float: none;
				margin: 15px auto 0;
			}
		}
		.explore-group{
			.compare button {
				display: block;
				float: none;
				margin: 10px auto 0;
			}
		}
		.portfolio-group , .explore-group {
			 .add form .buttons button {
				margin-left: 0.5rem !important;
				margin-right: 0.5rem !important;
			}
		}

		.favorites {
			display: inline-block;
		}
	}
}