<div>

  <div ng-include="'citm/page-partials/header.html'" ng-controller="HeaderController"></div>

  <div id="main" class="section">

    <div class="row column">

      <div class="portfolio">
        <div class="well">
          <div class="row">
            <mat-card class="medium-6 columns">
              <div *ngIf="imageUrl">
                <img height="100" width="100" [src]="imageUrl">
              </div>
              <span>User Name: <span *ngIf="userProfileInfo"><strong>{{userProfileInfo.name}}</strong></span><br />
                <span>School: <span *ngIf="userProfileInfo">{{userProfileInfo.schoolName}}</span></span> <br />
                <span>Graduation Year: <span
                    *ngIf="userProfileInfo">{{userProfileInfo.graduationYear}}</span></span><br /></span>
              <a (click)="openUserInfoDialog()">Edit</a>
            </mat-card>
            <mat-card class="medium-6 columns">
              <div *ngIf="weNoticedOpen && notificationsServiceOffering && notificationCareerCluster">
                <div class="ng-scope ng-isolate-scope alert alert-info">
                  <button type="button" class="close" (click)="weNoticedOpen = !weNoticedOpen">
                    <span>&times;</span>
                  </button>
                  <p>
                    <strong>We noticed...</strong><br />
                    <ng-container *ngIf="notificationsServiceOffering  && notificationsServiceOffering.length > 0">
                      <div *ngFor="let n of notificationsServiceOffering">
                        <span
                          *ngIf="n.numberOfOccupationsOffering > favoriteList.length/2"><strong>{{n.numberOfOccupationsOffering}}</strong>
                          out of <strong>{{favoriteList.length}}</strong> jobs you liked are available in the
                          {{n.svcName}}.</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="notificationCareerCluster && notificationCareerCluster.length >0">
                      <div *ngFor="let n of notificationCareerCluster">
                        <span><strong>{{n.numberofOccupations}}</strong> of your favorites appear in the {{n.title}}
                          career cluster.</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="notificationHotJob && notificationHotJob.length > 0">
                      <div *ngFor="let n of notificationHotJob">
                        <span><strong>{{n.numberFavoriteHotJob}}</strong> of your favorite
                          occupation{{n.numberFavoriteHotJob > 1 ? 's' : ''}}
                          {{n.numberFavoriteHotJob > 1 ? 'are' : 'is a'}} hot
                          job{{n.numberFavoriteHotJob > 1 ? 's' : ''}}!</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="notificationInterest && notificationInterest.length > 0">
                      <div *ngFor="let n of notificationInterest">
                        <span>{{n.question}} <strong>{{n.numberofOccupations}}</strong> of your favorite occupations are
                          <strong>{{n.name}}</strong>.</span>
                      </div>
                    </ng-container>
                  </p>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
        <mat-tab-group class="tabbed">
          <mat-tab label="Explore">
            <div class="row">
              <div class="medium-12 columns" role="main">

                <!-- Favorites Partial Page -->
                <mat-card class="explore-group">
                  <div class="table-info row">
                    <div class="medium-12 columns">
                      <app-favorites [view]="'occupationView'" [options]="true" [favoriteList]="favoriteList"
                        [careerClusterFavoriteList]="careerClusterFavoriteList" [serviceFavoriteList]="serviceFavoriteList" [cepFavoriteOccupationsList]="cepFavoriteOccupationsList"
                        [parent]="this"></app-favorites>
                    </div>
                  </div>
                </mat-card>

                <!-- Saved Searches -->
                <mat-card class="explore-group">
                  <div class="table-info row">
                    <div class="medium-12 columns">
                      <strong>SAVED SEARCHES</strong>
                    </div>
                    <div class="medium-12 columns">
                      <hr>
                    </div>
                  </div>
                  <div class="occupations row">
                    <div class="medium-12 columns">
                      <table class="hover">
                        <tbody>
                          <ng-container *ngIf="saveSearchList">
                            <tr [hidden]="saveSearchList.length === 0" *ngFor="let s of saveSearchList">
                              <td><a (click)="viewSaveSearch(s)">{{s.saveTitle}}</a></td>
                              <td class="actions">
                                <a (click)="deleteSaveSearch(s)" [ngClass]="checkDisabled() ? 'linkDisabled': ''"
                                  [ngStyle]="myStyle"><span>X</span></a>
                              </td>
                            </tr>
                            <tr [hidden]="saveSearchList.length > 0">
                              <td>No Saved Searches</td>
                              <td></td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                      <hr style="margin-bottom: 0" />
                    </div>
                  </div>
                </mat-card>

                <mat-card class="explore-group">
                  <div class="table-info row">
                    <div class="medium-12 columns">
                      <strong>SAVED NOTES</strong>
                    </div>
                    <div class="medium-12 columns">
                      <hr>
                    </div>
                  </div>
                  <div class="occupations row">
                    <div class="medium-12 columns">
					  <ng-container *ngIf="occupationNotes">
                        <table class="hover">
                          <tbody>
                            <tr [hidden]="occupationNotes.length == 0" *ngFor="let n of occupationNotes">
                              <td><a routerLink="/career-detail/{{n.mcId}}">{{n.title}}</a> {{n.notesLimit}}<span
                                  *ngIf="n.notes.length > 100" (click)="showNotes(n)">...<a>more</a></span></td>
                              <td class="actions">
                                <a (click)="onNotesClick(n)"><i class="fas fa-pencil-alt"></i></a>
                                <a (click)="deleteNote(n);" [ngClass]="checkDisabled() ? 'linkDisabled': '' "
                                  (disabled)="checkDisabled()" [ngStyle]="myStyle"><span>X</span></a>
                              </td>
                            </tr>

                            <tr [hidden]="occupationNotes.length > 0">
                              <td>No Saved Notes</td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
					  </ng-container>
                      <hr style="margin-bottom: 0" />
                    </div>
                  </div>
                </mat-card>

                <mat-card class="explore-group table">
                  <div class="clearfix">
                    <div class="medium-12 columns background">
                      <div class="row">
                        <div class="medium-3 columns description">
                          <p>
                            <strong class="caps">Guided Exploration</strong>
                          </p>
                          <p>Answer these questions based on your preferences. We'll make recommendations just
                            for you.</p>
                          <p id="retake">
                            <a (click)="guidedExplorationRetake()">Retake Quiz</a>
                          </p>
                        </div>
                        <div class="medium-9 columns info-container">
                          <div class="row" *ngIf="!isGuidedExplorationViewResults">
                            <div class="medium-12 columns info">

                              <!-- Question 1 -->
                              <p class="guided-heading" *ngIf="guidedExplorationCurrentPage == 1">
                                <strong><span>Which of these best describes you?</span> (Select all that
                                  apply)</strong>
                              </p>
                              <div class="row" *ngIf="guidedExplorationCurrentPage == 1">
                                <div class="medium-6 columns"
                                  *ngFor="let item of guidedExploration.checkboxInterest; let i=index">
                                  <ng-containter *ngIf="i < guidedExploration.checkboxInterest.length/2">
                                    <input type="checkbox" id="interest{{item.code}}"
                                      [(ngModel)]="guidedExploration.filterItems[item.code]"
                                      (click)="guidedExplorationSaveSelections()"> <label
                                      for="interest{{item.code}}">{{item.name}}</label> <br>
                                  </ng-containter>
                                </div>
                                <div class="medium-6 columns"
                                  *ngFor="let item of guidedExploration.checkboxInterest; let i=index">
                                  <ng-containter *ngIf="i >= guidedExploration.checkboxInterest.length/2">
                                    <input type="checkbox" id="interest{{item.code}}"
                                      [(ngModel)]="guidedExploration.filterItems[item.code]"> <label
                                      for="interest{{item.code}}">{{item.name}}</label> <br>
                                  </ng-containter>
                                </div>
                              </div>

                              <!-- Question 2 -->
                              <p class="guided-heading" *ngIf="guidedExplorationCurrentPage == 2">
                                <strong><span>Can you see yourself working in this environment?</span>
                                  (Select all that apply)</strong>
                              </p>
                              <div class="row" *ngIf="guidedExplorationCurrentPage == 2">
                                <div class="medium-6 columns"
                                  *ngFor="let item of guidedExploration.checkboxWorkEnvironment; let i=index">
                                  <ng-containter *ngIf="i < guidedExploration.checkboxWorkEnvironment.length/2">
                                    <input type="checkbox" id="work{{item.code}}"
                                      [(ngModel)]="guidedExploration.workEnvironmentItems[item.code]"
                                      (click)="guidedExplorationSaveSelections()"> <label
                                      for="work{{item.code}}">{{item.name}}</label> <br>
                                  </ng-containter>
                                </div>
                                <div class="medium-6 columns"
                                  *ngFor="let item of guidedExploration.checkboxWorkEnvironment; let i=index">
                                  <ng-containter *ngIf="i >= guidedExploration.checkboxWorkEnvironment.length/2">
                                    <input type="checkbox" id="work{{item.code}}"
                                      [(ngModel)]="guidedExploration.workEnvironmentItems[item.code]"
                                      (click)="guidedExplorationSaveSelections()"> <label
                                      for="work{{item.code}}">{{item.name}}</label> <br>
                                  </ng-containter>
                                </div>
                              </div>

                              <!-- Question 3 -->
                              <p class="guided-heading" *ngIf="guidedExplorationCurrentPage == 3">
                                <strong><span>Select your strengths.</span> (Select all that apply)</strong>
                              </p>
                              <div class="row" *ngIf="guidedExplorationCurrentPage == 3">
                                <div class="medium-12 columns" *ngFor="let item of guidedExploration.skillItems">
                                  <input type="checkbox" id="skill{{item.code}}"
                                    [(ngModel)]="guidedExploration.skillCheckBox[item.code]"
                                    (click)="guidedExplorationSaveSelections()"> <label
                                    for="skill{{item.code}}">{{item.name}}</label><br>
                                </div>
                              </div>
                              <button class="button next" (click)="guidedExplorationNextQuestion();"
                                *ngIf="guidedExplorationCurrentPage < 3">Next Question</button>
                              <button class="button next" (click)="guidedExplorationViewResults()"
                                *ngIf="guidedExplorationCurrentPage == 3">View Results</button>
                              <ul class="pagination">
                                <li [ngClass]="{'active' : guidedExplorationCurrentPage == 1}"
                                    (click)="guidedExplorationChangePage(1)">1</li>
                                <li [ngClass]="{'active' : guidedExplorationCurrentPage == 2}"
                                    (click)="guidedExplorationChangePage(2)">2</li>
                                <li [ngClass]="{'active' : guidedExplorationCurrentPage == 3}"
                                    (click)="guidedExplorationChangePage(3)">3</li>
                              </ul>
                            </div>
                          </div>

                          <!-- View Results -->
                          <div class="row" *ngIf="guidedExplorationJobList && isGuidedExplorationViewResults">
                            <ng-container>
                             <a class="medium-5 columns image" routerLink="/career-detail/{{getItem.mcId}}">
                             <img [src]="getItem.imageUrl"/>
                                </a>
                              <div class="medium-7 columns info">
                                <div id="tools">
                                  <div id="pagination">
                                    <span>{{guidedExplorationListlength != 0 ?
                                          guidedExplorationCurrentIndex + 1 : 0}}  of {{guidedExplorationListlength}}
                                      </span>
                                      <i class="icon-left" [ngClass]="(guidedExplorationListlength != 0 ? guidedExplorationCurrentIndex + 1 : 0) === 1 ? 'disabled' : ''" (click)="guidedExplorationPreviousPage();"></i> 
                                      <i class="icon-right" [ngClass]="(guidedExplorationListlength != 0 ? guidedExplorationCurrentIndex + 1 : 0) === guidedExplorationListlength ? 'disabled' : ''" (click)="guidedExplorationNextPage()"></i>
                                  </div>

                                  <span class="actions"> <!--<a class="show-for-medium"
                                      title="This list is filtered based on your responses. You can go back and change your answers at any time."><i
                                        class="fas fa-info"></i></a> -->
									  <a (click)="onFavoriteClick(getItem)">									  	
										  <i *ngIf="!getItem.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

										  <i *ngIf="getItem.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
										  
									  </a> 
									  
									  <a class="remove" (click)="onHiddenClick(getItem)">&times;</a>
                                  </span>
                                </div>
                                <p>
                                  <a routerLink="/career-detail/{{getItem.mcId}}"><strong>{{getItem.title}}</strong></a> <br />
                                </p>
                                <p>
                                  <strong class="caps">Military Branches</strong>
                                </p>
                                <p>
                                  <img *ngIf="getItem.isArmy == 'T'" src="assets/images/army.png"> <img
                                    *ngIf="getItem.isAirForce == 'T'" src="assets/images/air-force.png"> <img
                                    *ngIf="getItem.isCoastGuard == 'T'" src="assets/images/coast-guard.png"> <img
                                    *ngIf="getItem.isMarines == 'T'" src="assets/images/marines.png"> <img
                                    *ngIf="getItem.isNavy == 'T'" src="assets/images/navy.png">
                                </p>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card>

                <div class="row favorites">
                  <div class="medium-7 columns">
                    <mat-card class="explore-group underline">
                      <p><strong class="caps">Contact a Recruiter</strong></p>
                      <app-contact-services class="favorites-col-menu"></app-contact-services>
                    </mat-card>
                  </div>

                  <div class="medium-5 columns">
                    <mat-card class="explore-group underline">
                      <p><strong class="caps">Suggested resources</strong></p>
                      <span
                        *ngIf="filteredResourceGeneric && careerClusterFavoriteList.length == 0 && favoriteList == 0">
                        <span *ngFor="let r of filteredResourceGeneric; let i = index"><a (click)="openNewTab(filteredResourceGeneric[i].link)"
                            target="_blank">{{r.title}}</a><br></span></span>
                      <span
                        *ngIf="filteredResourceSpecific && careerClusterFavoriteList.length != 0 || favoriteList != 0">
                        <span *ngFor="let r of filteredResourceSpecific; let i = index"><a (click)="openNewTab(filteredResourceSpecific[i].link)"
                            target="_blank">{{r.title}}</a><br></span></span>
                    </mat-card>
                  </div>
                </div>

                <mat-card class="explore-group hot-job-block table">
                  <div class="clearfix">
                    <div class="medium-12 columns background">
                      <div class="row">
                        <div class="medium-3 columns description">
                          <p><strong class="caps">Hot Jobs </strong></p>
                          <p>These jobs are in high demand or are opening soon. </p>
                          <p *ngIf="serviceContacts != undefined"><a (click)="openFindRecruiterModal()">Find a recruiter to learn more.</a> </p>
                        </div>
                          <!-- View Results -->
                          <div class="medium-9 columns info-container">
                          <div class="row" *ngIf="hotJobList && hotJobList.length > 0">
                              <ng-container>
                               <a class="medium-5 columns image" routerLink="/career-detail/{{hjItem.mcId}}">
                               <img [src]="hjItem.imageUrl"/>
                                  </a>
                                <div class="medium-7 columns info">
                                  <div id="tools">
                                    <div id="pagination">
                                      <span>{{hotJobListlength != 0 ? hotJobCurrentPage : 0}}  of
                                        {{hotJobListlength}}</span>
                                        <i class="icon-left" [ngClass]="(hotJobListlength != 0 ? hotJobCurrentPage : 0) === 1 ? 'disabled' : ''" (click)="hotJobPreviousPage();"></i>
                                        <i class="icon-right" [ngClass]="(hotJobListlength != 0 ? hotJobCurrentPage : 0) === hotJobListlength ? 'disabled' : ''" (click)="hotJobNextPage()"></i>
                                    </div>
  
                                    <span class="actions"> 
										<a (click)="onFavoriteClick(hjItem)">
											<i *ngIf="!hjItem.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

										  	<i *ngIf="hjItem.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
										</a> 
										
										<a class="remove" (click)="onHiddenClick(hjItem)">&times;</a>
                                    </span>
                                  </div>
                                  <p>
                                    <a routerLink="/career-detail/{{hjItem.mcId}}"><strong>{{hjItem.title}}</strong></a> <br />
                                  </p>
                                  <p>
                                    <strong class="caps">Military Branches</strong>
                                  </p>
                                  <p>
                                    <img *ngIf="hjItem.isArmy == 'T'" src="assets/images/army.png"> <img
                                      *ngIf="hjItem.isAirForce == 'T'" src="assets/images/air-force.png"> <img
                                      *ngIf="hjItem.isCoastGuard == 'T'" src="assets/images/coast-guard.png"> <img
                                      *ngIf="hjItem.isMarines == 'T'" src="assets/images/marines.png"> <img
                                      *ngIf="hjItem.isNavy == 'T'" src="assets/images/navy.png">
                                  </p>
                                </div>
                              </ng-container>
                              </div>
                            </div>
                    </div>
                  </div>
                  </div>
                </mat-card>

              </div>
            </div>
          </mat-tab>
          <mat-tab index="1" label="Portfolio">
            <app-portfolio-tab [parent]="this"></app-portfolio-tab>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</div>