<mat-dialog-content>
	<div class="modal-options">
		<!-- <div class="custom-modal-backdrop"></div> -->
		<div class="custom-modal-lg">
			<div class="custom-modal-content table-contents-wrap marine-modal">
				<div class="custom-modal-body">
					<div class="titles">
						<h4>
							<b>Navy</b>- Basic Training Physical Fitness Requirements
						</h4>
						<button type="button" class="close-button" (click)="close()">
							<span aria-hidden="true">&#215;</span>
						</button>
					</div>
					<div *ngIf="pageHtml">
						<app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="pageHtml">
						</app-dynamic-content-loader>
					</div>
					<div class="close-button-div text-center">
						<button type="button" class="button" (click)="close()">close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>